<div style="margin-bottom:15px;">Are you sure you want to revoke Internet access for <strong>@Name</strong>?</div>

<Button Color="ButtonColor.Danger" @onclick="revokeConfirmed">Confirm</Button>

<Button Color="ButtonColor.Secondary" @onclick="revokeCancelled">Cancel</Button>

@code {
    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> revokeConfirmed { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> revokeCancelled { get; set; }
}
