@page "/"
@rendermode InteractiveServer
@inherits HomeBase

<PageTitle>Home</PageTitle>

@if (isErrorAnywhere == true)
{
    @errorMessage

    <Modal @ref="modal" title="Error" UseStaticBackdrop="true" CloseOnEscape="false">
        <BodyTemplate>
            @errorMessage
        </BodyTemplate>
        <FooterTemplate>
            <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Close</Button>
            <Button Color="ButtonColor.Primary">Understood</Button>
        </FooterTemplate>
    </Modal>
    <br />
    <p>lambda</p>
    @(() => OnShowModalClick())
    <br />
    <p>normal</p>
    @OnShowModalClick
    <br />
    <p>invoke</p>
    @OnShowModalClick()
    <br />
    
    <br />
    <Button Color="ButtonColor.Primary" @onclick="OnShowModalClick">Launch static backdrop modal</Button>
}

@if (responseDetails.dataResponse != null)
{
    @responseDetails.dataResponse.fullName
}

<Preload LoadingText="Loading..." />